<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <!--begin::Base Path (base relative path for assets of this page) -->
    <base href="@Url.Content("~/")">
    <!--end::Base Path -->
    <meta charset="utf-8" />
    <title>JMIS @ViewData["Title"]</title>
    <meta name="description" content="Page with empty content">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/OpenLayers/ol.css" rel="stylesheet" />
    <link href="~/css/ol-contextmenu.min.css" rel="stylesheet" />
    <link href="~/css/ol-ext.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!--begin::Fonts -->
    <link href="~/Matronic/assets/css/demo1/googleapisFonts.css" rel="stylesheet" />
    <!--end::Fonts -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/Matronic/assets/vendors/global/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Matronic/assets/css/demo1/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="~/Matronic/assets/css/demo1/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/Matronic/assets/css/demo1/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/Matronic/assets/css/demo1/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/Matronic/assets/css/demo1/skins/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Matronic/assets/media/logos/favicon.ico" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading kt-aside--minimize">
    @RenderBody()
    <partial name="TracksList" />
    <partial name="StakeholderList" />
    <partial name="PRList" />
    <partial name="SRList" />
    <partial name="LostContactInfoList" />
    <partial name="DropContactInfoList" />
    <script>
        var KTAppOptions = { "colors": { "state": { "brand": "#5d78ff", "dark": "#282a3c", "light": "#ffffff", "primary": "#5867dd", "success": "#34bfa3", "info": "#36a3f7", "warning": "#ffb822", "danger": "#fd3995" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
    </script>
    <script src="~/Matronic/assets/vendors/global/vendors.bundle.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/OpenLayers/ol.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/ol-contextmenu.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/ol-ext.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/Matronic/assets/js/demo1/scripts.bundle.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/site.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/modals.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/Datatables.js" asp-append-version="true" type="text/javascript"></script>
</body>
</html>
