@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @*<button type="submit" class="btn btn-sm btn-link" name="culture" title="@culture.Text" value="@culture.Value">*@
    <form id="frmSignout" asp-controller="Layout" asp-action="Signout" method="post" class="form-horizontal" role="form">
        <button type="submit" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</button>
    </form>
}
